<p fundoAmarelo>
    Texto com fundo amarelo
</p>

<button fundoAmarelo>Botao com fundo amarelo</button>

<p highlightMouse>
    Texto com highlight quando passo o mouse.
</p>

<p [highlight]="'red'" [defaultColor]="'grey'">
    Texto com highlight com cores costumizadas
</p>

<h5>Diretiva Estrutura customizada - ngElse</h5>

<div *ngIf="mostrarCursos">
    Lista de cursos aqui.
</div>
<div *ngElse="mostrarCursos">
    Nao existe cursos para serem listados
</div>

<br>
<button (click)="onMostrarCursos()">Mostrar ou esconder cursos</button>

<div *ngElse="mostrarCursos">
    Nao existe cursos para serem listados
</div>

<br>
<button (click)="onMostrarCursos()">
    Mostrar ou esconder cursos
</button>
<br>
<template [ngElse]="mostrarCursos">
    <div>
            Nao existe cursos para serem listados
    </div>
</template>